html, body{
    background:url("../img/bg.jpg")  center center no-repeat;
    height: 100%;
    background-size: cover;
}

@media(max-width: 768px){
	
	#logo img{
		width: 50%;
	}

	#counter .countdown{
		font-size: 1.4em !important;
	}

	#icon .fab{
		margin: 10px 0 0 !important;
		font-size: 2em;
	}

	.form-inline{
		width:65%;
		margin:auto;
	}

}

#logo img {
	padding-top: 10px;
}

#intro p{
	color: white;
	text-align: center;
	font-family: 'Just Another Hand', cursive;
	font-size: 1.8em;
}

#counter .countdown{
	text-align: center;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	margin:-15px;
}

#icon {
	text-align: center;
	margin-top: 10px;
}

#icon .fab{
	color: white;
	margin:	10px;
	position: relative;
	bottom: 0;
	transition: all 0.2s ease-in-out;
}

#icon .twitter:hover{
	color: #6cadde;
	bottom: 5px;
}

#icon .facebook:hover{
	color: #3b5998;
	bottom: 5px;
}

#icon .google:hover{
	color: #ea4335;
	bottom: 5px;
}

#icon .instagram:hover{
	color: #3f729b;
	bottom: 5px;
}

#signup{
	text-align: center;
}

#signup .form-inline{
	display: block;
}

#signup .btn{
	background-color: rgba(161,186,226,0.5);
	color:white;
	position: relative;
	bottom: 0;
	margin: 10px;
}

#signup .btn:hover{
	background-color: rgba(37,165,82,1) ;
	bottom: 1px;
}